1-basics-of-software-code-development/.classpath
1-basics-of-software-code-development/.project
1-basics-of-software-code-development/.gitignore
1-basics-of-software-code-development/bin/*

2-algorithmization/.classpath
2-algorithmization/.project
2-algorithmization/.gitignore
2-algorithmization/bin/*

4-programming-with-classes/.classpath
4-programming-with-classes/.project
4-programming-with-classes/.gitignore
4-programming-with-classes/bin/*